# Ignorar todo
*

# Excepto estos archivos...
!.gitignore
!LICENSE
!README.md
!LÉEME.md
!ejemplo.md
!ejemplo.odt
# etc...

# ...incluso si es que estan en subdirectorios
!*/

# Si los archivos a rastrear estan en subdirectorios
!*/a/b/file1.txt
!*/a/b/c/*
